# Collections

Earlier in our labs we looked at some Python built-in types such as `string`, `int`, `float`, and `bool`. These types store single value. There are some other built-in types in Python which are collectively known as __collections__. This is because they represent a collection of other types such as types of strings, or numbers. 

A _collection_ is a single object representing a group of objects. Collections may also be referred to as _containers_ as they contain other objects. These collection types support various types of data structures (such as lists, tuples, dictionaries, sets, and maps) and ways to process elements within those structures. 

## Python Collection Types
There are four classes in Python that provide container like behavior, these are:

- __Tuples__: A Tuple represents a collection of objects that are ordered and immutable (cannot be modified). Tuple allows duplicate members and are indexed.
- __Lists__: Lists hold a collection of objects that are ordered and mutable (changeable), they are indexed and allow duplicate members. 
- __Sets__: Sets are a collection that is unordered and unindexed. They are mutable (changeable) but do not allow duplicate values to be held. 
- __Dictionary__: A dictionary is an unordered collection that is indexed by a _key_ which references to a _value_. The value is returned when the _key_ is provided. No duplicate keys are allowed. However, duplicate values are allowed. Dictionaries are mutable containers.

# Lists
Lists are _positionally ordered collections of arbitrarily typed objects, and they have no fixed size_. They are also mutable—unlike strings, lists can be modified in place by assignment to offsets as well as a variety of list method calls.

## Creating Lists
Lists are created using square brackets positioned around the elements of list that are separated using a comma. For example:

In [ ]:
# A list of numbers
even_numbers = [0,2,4,6,8,10,12]

In [ ]:
# Print the list
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12]

In [ ]:
# Check the data type
print(type(even_numbers))

<class 'list'>

In [ ]:
# Create a Hetrogenous list
# A list of three different-type objects
L = [123, 'spam', 1.23]

## Accessing Elements of List (Indexing)
You can access elements from a list using an index (within square bracket). The index returns the object at that position. For example:

In [ ]:
L[0]

123

In [ ]:
print(type(L[1]))

<class 'str'>

### Negative Indexing
Negative indexing can also be applied on lists.

In [ ]:
L[-1]

1.23

In [ ]:
# Index out of range
L[5]

IndexError: list index out of range

## Exercise 

Create a list named `cgpa` that contains the cgpa of 6 students

In [2]:
my_list = [3.5 , 3 , 4 , 2 , 2.9 , 3.8]

Print out the list `cgpa`

In [3]:
print(my_list)

[3.5, 3, 4, 2, 2.9, 3.8]

Print the `cgpa` of _third_ student

In [4]:
my_list[2]

4

Use a `for` loop to iterate over list items of `cgpa`

In [5]:
for element in my_list:
    print(element)

3.5
3
4
2
2.9
3.8

## Multi-dimensional Lists

One nice feature of Python’s core data types is that they support arbitrary nesting—we
can nest them in any combination, and as deeply as we like. For example, we can have
a list that contains a dictionary, which contains another list, and so on. One immediate
application of this feature is to represent matrixes, or “multidimensional arrays” in
Python.
Lists can contain lists also. For example, you are recording the age of your friends along with their names.

In [ ]:
# One Dimensional List
friends_age_1d = ["Zeeshan",26, "Qasim", 27, "Huzaifa", 25, "Abdul Wahab", 19, "Sajawal",27, "Mudassar",28]

Although it is created but it is a bit difficult to understand. We can transform it into list of lists.

In [ ]:
# Age of Huzaifa
friends_age_1d[5]

25

In [ ]:
# Multi-dimensional list
friends_age_2d = [["Zeeshan",26],
                  ["Qasim", 27],
                  ["Huzaifa", 25],
                  ["Abdul Wahab", 19],
                  ["Sajawal",27],
                  ["Mudassar",28]
                 ]

In [ ]:
# Fetch the element at index 3
friends_age_2d[3]

['Sajawal', 27]

In [ ]:
# Fetch the age of sajawal
friends_age_2d[3][1]

27

In [ ]:
# Print the types
for friend in friends_age_2d:
    print(type(friend))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
# Print the types of each element in nested list
for friend in friends_age_2d:
    for f in friend:
        print(type(f))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

In [ ]:
# A matrix
matrix = [
           [1,0,0],
           [0,1,0],
           [0,0,1]
          ]

In [ ]:
# Higher Dimension list
# A list representing each student's id, name, and tasks list he/she completed
lab1_stats = [
    [1,"Usman",["T1","T2", "T3"]],
    [2, "Asad", ["T1", "T2", "T4", "T5"]],
    [3, "Faraz", ["T1", "T2"]]
]

In [ ]:
# Access the tasks of student at index 0
lab1_stats[0][2]

['T1', 'T2', 'T3']

In [ ]:
# How many tasks were completed by student at index 1
len(lab1_stats[1][2])

4

In [ ]:
# What was the last task performed by student at index 2
lab1_stats[2][2][len(lab1_stats[2][2])-1]

'T2'

In [ ]:
# Print each student id, name, and tasks performed
for students in lab1_stats:
    print("ID: {}".format(students[0]))
    print("Name: {}".format(students[1]))
    tasks = students[2]
    print("Tasks Performed: ", end =" ")
    for task in tasks:
        print(task, end = ",")
    print()

ID: 1
Name: Usman
Tasks Performed:  T1,T2,T3,
ID: 2
Name: Asad
Tasks Performed:  T1,T2,T4,T5,
ID: 3
Name: Faraz
Tasks Performed:  T1,T2,

## Exercise

In the previous exercise, you have created a list `cgpa` that contains cgpa of 6 students. 

Now, first add name of each student in the list. For example,

cgpa = ["name",3.3,"name2",2.22...]

In [8]:
cgpa = ["Basit",3.5,"Daniyal",3,"Taha",4,"Arqam",2,"Khizar",2.9,"Aroosh",3.8]
print(cgpa)

['Basit', 3.5, 'Daniyal', 3, 'Taha', 4, 'Arqam', 2, 'Khizar', 2.9, 'Aroosh', 3.8]

Now, make a 2-dimensional list `students_cgpa`. Each sub-list should contain student name and cgpa.

In [22]:
std_cgpa = [
            ["Basit",3.5],
            ["Daniyal",3],
            ["Taha",4],
            ["Arqam",2],
            ["Khizar",2.9],
            ["Aroosh",3.8]
]

Print CGPA of last student in the list

In [25]:
print(std_cgpa[5][1])

3.8

Print each student name and cgpa

In [13]:
for element in std_cgpa:
  print(element)

['Basit', 3.5]
['Daniyal', 3]
['Taha', 4]
['Arqam', 2]
['Khizar', 2.9]
['Aroosh', 3.8]

Calculate average cgpa

In [16]:
s = 0
for i in std_cgpa:
    s += i[1]
    
avg = s / len(cgpa)
print(avg)

1.5999999999999999

## List Slicing
A slicing expression selects a range of elements from a sequence.

You have seen how indexing allows you to select a specific element in a sequence. Sometimes 
you want to select more than one element from a sequence. In Python, you can write 
expressions that select subsections of a sequence, known as slices.


A slice is a span of items that are taken from a sequence. When you take a slice from a list, 
you get a span of elements from within the list. To get a slice of a list, you write an expression in the following general format:

<center><code>list_name[start:end]</code></center>

In the general format, _start_ is the index of the first element in the _slice_, and _end_ is the index marking the _end_ of the slice. The expression _returns a list containing a copy of the elements from start up to (but not including) end_.

In [ ]:
# list of days of a week
weekdays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

In [ ]:
# The following statement uses a slicing expression to get the elements from indexes 2 up to, but not including, 5:
mid_days = weekdays[2:5]

In [ ]:
print(mid_days)

['Tuesday', 'Wednesday', 'Thursday']

Omitting the _start_ index will start the slice from the beginning

In [ ]:
weekdays[:4]

['Sunday', 'Monday', 'Tuesday', 'Wednesday']

Omitting the _end_ index will slice till end of the list

In [ ]:
weekdays[4:]

['Thursday', 'Friday', 'Saturday']

__Note:__ Invalid indexes do not cause slicing expressions to raise an exception. For example:
- If the end index specifies a position beyond the end of the list, Python will use the length of the list instead.
- If the start index specifies a position before the beginning of the list, Python will use 0 instead.
- If the start index is greater than the end index, the slicing expression will return an empty list.

## Exercise

1. What will the following code display?
```python
    numbers = [1,2,3,4,5]
    print(numbers[1:3])
```

2. What will the following code display?
```python
    numbers = [1,2,3,4,5]
    print(numbers[1:])
```

3. What will the following code display?
```python
    numbers = [1,2,3,4,5]
    print(numbers[:1])
```

4. What will the following code display?
```python
    numbers = [1,2,3,4,5]
    print(numbers[:])
```

5. What will the following code display?
```python
    numbers = [1,2,3,4,5]
    print(numbers[-3:])
```

## Copying Lists

To make a copy of a list, you must copy the elements of the list.

In [ ]:
# Consider the example
list1 = [1,2,3]
list2 = list1

Now, both lists points to same object in memory. Changing in one list reflects in the other list.

In [ ]:
list2[2] = 999
list2

[1, 2, 999]

In [ ]:
list1

[1, 2, 999]

In order to copy a list, use one of the following:

1. Use slicing expression [:]
2. Use copy() method of list

In [ ]:
L1 = [1,2,3]
L2 = L1[:] # deep copy

L2[0] = "Hi"
L2

['Hi', 2, 3]

In [ ]:
L1

[1, 2, 3]

In [ ]:
# Using Copy Method
L3 = L1.copy()
L3

[1, 2, 3]


## Sequence Operations
Because they are sequences, lists support all the sequence operations. Given below is a table that shows some of the common sequence operations

|Operation|Description|
|:---------|:-----------|
x in seq | True, when x is found in the sequence seq, otherwise False
x not in seq | False, when x is found in the sequence seq, otherwise True
x + y | Concatenate two sequences x and y
x * n or n * x | Add sequence x with itself n times
seq\[i\]| ith item of the sequence.
len(seq) | Length or number of elements in the sequence
min(seq) | Minimum element in the sequence
max(seq) | Maximum element in the sequence
seq.index(x\[, i[, j]\]) | Index of the first occurrence of x (in the index range i and j)
seq.count(x) | Count total number of elements in the sequence
seq.append(x) | Add x at the end of the sequence
seq.clear() | Clear the contents of the sequence
seq.insert(i, x) | Insert x at the position i
seq.extend(iterable) | adds the specified list elements (or any iterable) to the end of the current list.
seq.pop(\[i\]) | Return the item at position i, and also remove it from sequence. Default is last element.
seq.remove(x) | Remove first occurrence of item x
seq.reverse() | Reverse the list

In [ ]:
# Create a list
L = [1,2,3]

In [ ]:
# Check if 2 is present in list
if 2 in L:
    print("2 is present")
else:
    print("2 is not present")

2 is present

In [ ]:
# Check non-presence
if -99 not in L:
    print("-99 is not present")

-99 is not present

In [ ]:
# Concatenation
L1 = L + ['a','b','c']
print("List L: ", L)
print("List L1:", L1)

List L:  [1, 2, 3]
List L1: [1, 2, 3, 'a', 'b', 'c']

In [ ]:
# Repeating list
L2 = L1 * 3  # Repeats L1 3 times and creates a new list L2
print(L2)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [ ]:
# Length
length = len(L1)   # Remember the difference between keywords and reserved words? Is len reserved or keyword?
print("Length: {}".format(length))

Length: 6

In [ ]:
# Min and Max values
min_val = min([2,3,6,5,4,0])
max_val = max([2,3,6,5,4,0])
print([2,3,6,5,4,0])
print("Min: {}".format(min_val))
print("Max: {}".format(max_val))

[2, 3, 6, 5, 4, 0]
Min: 0
Max: 6

In [ ]:
# Find index of 5
[1,2,5,6,9].index(5)

2

In [ ]:
num_list = [1,2,3,3,3,3,6,9,8,7,8,8,7]
num_list.index(3) # returns the first occurrence

2

In [ ]:
# Specify the starting and ending point of search
num_list.index(3,3,6)

3

In [ ]:
# Count the number of 3's in the list
num_list.count(3)

4

In [ ]:
# Append value at end of list
num_list.append(0)
num_list

[1, 2, 3, 3, 3, 3, 6, 9, 8, 7, 8, 8, 7, 0]

In [ ]:
num_list.append([1,2,3])

In [ ]:
num_list

[1, 2, 3, 3, 3, 3, 6, 9, 8, 7, 8, 8, 7, 0, [1, 2, 3]]

In [ ]:
# Clear the contents of list
print("List contents before clear operation: ", num_list)
num_list.clear()
print("List contents after clear operation: ", num_list)

List contents before clear operation:  [1, 2, 3, 3, 3, 3, 6, 9, 8, 7, 8, 8, 7, 0, [1, 2, 3]]
List contents after clear operation:  []

__Note:__ `clear()` method clears the contents of the list. It does not delete the list.

In [ ]:
# Extends a list
num_list.extend([1,2,3])

In [ ]:
# Insert Element at specific index
num_list.insert(1,"A")
num_list

[1, 'A', 2, 3]

In [ ]:
num_list.pop(2)     # Shrinking: delete an item in the middle

2

In [ ]:
M = ['bb', 'aa', 'cc']
M.sort()
M

['aa', 'bb', 'cc']

In [ ]:
M.reverse()

In [ ]:
M

['cc', 'bb', 'aa']

The list **sort** method here, for example, orders the list in ascending fashion by default,
and **reverse** reverses it—in both cases, the methods modify the list directly.

## Del Statement
The remove method that you saw earlier removes a specific item from a list, if that item is 
in the list. Some situations might require that you remove an element from a specific index, 
regardless of the item that is stored at that index. This can be accomplished with the del
statement. Here is an example of how to use the del statement:

In [ ]:
my_list = [1,2,3,4,5]
print("Before Deletion: {}".format(my_list))
del my_list[2]
print("After Deletion: {}".format(my_list))

Before Deletion: [1, 2, 3, 4, 5]
After Deletion: [1, 2, 4, 5]

## Passing and Returning List from Functions

In [ ]:
def binary_search(l,key):
    size = len(l)
    if size == 0:
        return false
    if size == 1:
        return l[0] == key
    first = 0
    last = size - 1
    middle = None
    while first <= last:
        middle = (first+last)//2 # integer div
        if l[middle] == key:
            return middle
        elif key > l[middle]:
            first = middle + 1
        else:
            last = middle - 1
    return false

In [ ]:
x = [c for c in range(100,10000000)]
index = binary_search(x,8888888)
print(x[index])

8888888

## List Comprehension
Do you remember the basic mathematics?

* {x2 | x 2 N } gives squares of natural numbers.
* {x2 : x in {0 . . . 9}} gives squares of numbers with in the provided set, {0 . . . 9}.

List comprehension implements such well-known notations for sets. It is an elegant and concise way
to define and create lists in Python, and off-course, it saves typing as well!

Syntax for the list comprehension is:
"statement/expression" followed by a "for clause" with in "square brackets".

Let’s learn with example while comparing for loop and list comprehension.

In [ ]:
# We have a list 'x'
x = [2,3,4,5]

What if we want to create a new list that contains squares of all the elements in list x? We can do this
using a for loop as given in the code cell below (*please read the comments*).

In [ ]:
def list_of_squares():
    out = []     # empty list for squares
    for num in x:     # loop test
        out.append(num**2)     # taking squeares and appending them to the empty list "out"
    print(out)     # using print to get the output

In [ ]:
#calling list_of_squares function
list_of_squares()

[4, 9, 16, 25]

Ok, we have accomplished the task to compute squares using for loop, however, the above task can be
elegantly implemented using a list comprehension in a one line of code. **Simply take for statement
and put it after what you want in result!**

In [ ]:
# So, this is going to be out first list comprehension to compute squares of all ,!the elements in a given list!
[num**2 for num in x]

[4, 9, 16, 25]

In [ ]:
# Another example using string -- notice the white space!
[letters for letters in 'Hello World']

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [ ]:
# one more example using range()
[numbers**2 for numbers in range(2,10)]

[4, 9, 16, 25, 36, 49, 64, 81]

# Tuples
The tuple object (pronounced “toople” or “tuhple,” depending on whom you ask) is
roughly like a list that cannot be changed—tuples are *sequences*, like lists, but they are
immutable, like strings. Functionally, they’re used to represent fixed collections of
items: the components of a specific calendar date, for instance. Syntactically, they are
normally coded in parentheses instead of square brackets, and they support arbitrary
types, arbitrary nesting, and the usual sequence operations:

## Creating a Tuple

Tuples are created using small brackets positioned around the elements of list that are separated
using a comma. For example:

In [ ]:
T = (1, 2, 3, 4)     # A 4-item tuple

In [ ]:
# Print the tuple
print(T)

(1, 2, 3, 4)

In [ ]:
# Check the data type
print(type(T))

<class 'tuple'>

More examples:

In [ ]:
student_tuple = ()

In [ ]:
student_tuple

()

In [ ]:
len(student_tuple)

0

__You can pack a tuple by separating its values with commas__

In [ ]:
student_tuple = 'Ali','Usman',3.3

In [ ]:
student_tuple

('Ali', 'Usman', 3.3)

__When you output a tuple, Python always displays its contents in parentheses. You may
surround a tuple’s comma-separated list of values with optional parentheses:__

In [ ]:
another_student_tuple = ('Zeeshan','Junaid','Shakeel')

__A tuple with single element__

In [ ]:
singleton_tuple = ('a',) #note the comma
singleton_tuple_wrong = ('a') # this is not a tuple
print(type(singleton_tuple))
print(type(singleton_tuple_wrong))

<class 'tuple'>
<class 'str'>

## Accessing Elements of Tuples (Indexing)
You can access elements from a tuple using an index (within square bracket). The index returns the
object at that position. For example:

In [ ]:
T[1]

2

In [ ]:
T1 = (1,(2,3,4), 5) # Nesting tuples

In [ ]:
T1[0]

1

In [ ]:
T1[1]

(2, 3, 4)

In [ ]:
T1[1][2]

4

## Tuples are Immutable
Tuples are Immutable i.e. you can not assign or change a new value to a tuple.

In [ ]:
t1 = (1,3,4)

In [ ]:
t1[0] = 2 # Illegal operation

TypeError: 'tuple' object does not support item assignment

## Tuples may contain Mutable Objects
Consider the following tuple that contains a list as its item. We know that lists are mutable.

In [ ]:
tm = (1,2,['a','b','c'])

In [ ]:
tm[2] #Get list

['a', 'b', 'c']

In [ ]:
tm[2][1] = 'z'

In [ ]:
tm

(1, 2, ['a', 'z', 'c'])

## Negative Indexing
Negative indexing can also be applied on tuples.

In [ ]:
T[-1]

4

In [ ]:
# Index out of range
T[5]

IndexError: tuple index out of range

## Tuple Packing and Unpacking

Tuple packing means packing/combining values into a tuple. The following is an example of tuple packing:

In [ ]:
tp = "Val1",2,[1,2]

In [ ]:
tp

('Val1', 2, [1, 2])

You can also unpack the values into variables.

In [ ]:
a,b,c = tp

In [ ]:
print(a)
print(b)
print(c)

Val1
2
[1, 2]

## Exercise
Create a tuple named cgpa that contains the cgpa of 6 students

In [25]:
cgpa = (3 , 4 , 2 , 1 , 2.2 , 1.9)

Print out the tuple cgpa

In [27]:
print(type(cgpa))
print(cgpa)

<class 'tuple'>
(3, 4, 2, 1, 2.2, 1.9)

Print the cgpa of third student

In [28]:
print(cgpa[3])

1

Use a for loop to iterate over tuple items of cgpa

In [30]:
for i in cgpa:
    print(i,end=",")

3,4,2,1,2.2,1.9,

## Nested Tuples

Just like lists, tuples can also be nested.

In [ ]:
# Multi-dimensional Tuple
friends_age_2d = (
    ("Zeeshan",26),
    ("Qasim", 27),
    ("Huzaifa", 25),
    ("Abdul Wahab", 19),
    ("Sajawal",27),
    ("Mudassar",28)
 )

In [ ]:
#Fetch the element at index 3
friends_age_2d[3]

('Abdul Wahab', 19)

In [ ]:
# Fetch the age of sajawal
friends_age_2d[3][1]

19

In [ ]:
# print each friend info
for friend in friends_age_2d:
    print(f"Name: {friend[0]}")
    print(f"Age: {friend[1]}")
    print() # separating each friend by new line

Name: Zeeshan
Age: 26

Name: Qasim
Age: 27

Name: Huzaifa
Age: 25

Name: Abdul Wahab
Age: 19

Name: Sajawal
Age: 27

Name: Mudassar
Age: 28

## Exercise

You have been provided a multi-dimentsional tuple containing names and cgpa of each student. Write a program that will print an average cgpa of students.

In [ ]:
students_cgpa = (
    ("Zeeshan",3.71),
    ("Zunaina", 3.82),
    ("Ahmed", 3.87),
    ("Qasim", 3.8),
    ("Komal", 3.67),
    ("Nazifa", 3.44)
)

In [ ]:
# write code here for calculating average cgpa

## Tuple Slicing

Method of slicing and indexing from the tuple is same like lists.

    tuple_name[start:end]

In [ ]:
# list of days of a week
weekdays =("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")

In [ ]:
# The following statement uses a slicing expression to get the elements from indexes 2 up to, but not including, 5:
mid_days = weekdays[2:5]

In [ ]:
print(mid_days)

('Tuesday', 'Wednesday', 'Thursday')

Omitting the start index will start the slice from the beginning

In [ ]:
weekdays[:4]

('Sunday', 'Monday', 'Tuesday', 'Wednesday')

Omitting the end index will slice till end of the list

In [ ]:
weekdays[4:]

('Thursday', 'Friday', 'Saturday')

## Copying Tuples

To make a copy of a tuple, you must copy the elements of the tuple.

In [ ]:
from copy import deepcopy

tup = (1, 2, 3, 4, 5)
put = deepcopy(tup)

Admittedly, the ID of these two tuples will point to the same address. Because a tuple is immutable, there's really no rationale to create another copy of it that's the exact same. However, note that tuples can contain mutable elements to them, and deepcopy/id behaves as you anticipate it would:

In [ ]:
from copy import deepcopy
tup = (1, 2, [])
put = deepcopy(tup)
tup[2].append('hello')
print(tup) # (1, 2, ['hello'])
print(put) # (1, 2, [])

(1, 2, ['hello'])
(1, 2, [])

## Sequence Operations

 Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

### Common Sequence Operations

|Operation|Description|
|:---------|:-----------|
x in seq | True, when x is found in the sequence seq, otherwise False
x not in seq | False, when x is found in the sequence seq, otherwise True
x + y | Concatenate two sequences x and y
x * n or n * x | Add sequence x with itself n times
seq\[i\]| ith item of the sequence.
len(seq) | Length or number of elements in the sequence
min(seq) | Minimum element in the sequence
max(seq) | Maximum element in the sequence
seq.index(x\[, i[, j]\]) | Index of the first occurrence of x (in the index range i and j)
seq.count(x) | Count total number of elements in the sequence

In [ ]:
# Create a list
T = (1,2,3,4,5)

In [ ]:
# Check if 2 is present in list
if 2 in T:
    print("2 is present")
else:
    print("2 is not present")

2 is present

In [ ]:
# Check non-presence
if -99 not in T:
    print("-99 is not present")

-99 is not present

In [ ]:
# Concatenation
T1 = T + ('a','b','c') # Note that it creates a new tuple
print("Tuple T: ", T)
print("Tuple T1:", T1)

Tuple T:  (1, 2, 3, 4, 5)
Tuple T1: (1, 2, 3, 4, 5, 'a', 'b', 'c')

In [ ]:
# Repeating tuple
T2 = T1 * 3 # Repeats T1 3 times and creates a new tuple T2
print(T2)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 1, 2, 3, 4, 5, 'a', 'b', 'c', 1, 2, 3, 4, 5, 'a', 'b', 'c')

In [ ]:
# Length
length = len(T1) # Remember the difference between keywords and reserved words? Is len reserved or keyword?
print("Length: {}".format(length))

Length: 8

In [ ]:
# Min and Max values
min_val = min((2,3,6,5,4,0))
max_val = max((2,3,6,5,4,0))
print((2,3,6,5,4,0))
print("Min: {}".format(min_val))
print("Max: {}".format(max_val))

(2, 3, 6, 5, 4, 0)
Min: 0
Max: 6

## Del Statement

Removing individual tuple elements is not possible. There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded using list comprehensions or slicing. To explicitly remove an entire tuple, you can use the del statement.

In [ ]:
tup = ('IICT', 'AI Lab', 2000, 2001)
print(tup)
del(tup)
print("After deleting tup : ")
print(tup)

('IICT', 'AI Lab', 2000, 2001)
After deleting tup :

NameError: name 'tup' is not defined

## Passing and Returning tuple from Functions

In [ ]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c, a)

print(circleInfo(10))

(62.8318, 314.159)

In [ ]:
def times_ten(a, b = 0, c = 0):
    if isinstance(a, tuple):
        b = a[1]
        c = a[2]
        a = a[0]

    return (a*10,b*10,c*10)

t = (2,4,6)
print(times_ten(t)) # prints "(20, 40, 60)"

print(times_ten(3,5,7)) # prints "(30, 50, 70)"

(20, 40, 60)
(30, 50, 70)

# Exercise

## Rainfall Statistics
Design a program that lets the user enter the total rainfall for each of 12 months into a
list. The program should calculate and display the total rainfall for the year, the average
monthly rainfall, and the months with the highest and lowest amounts.

## Driver’s License Exam
The local driver’s license office has asked you to create an application that grades the written
portion of the driver’s license exam. The exam has 20 multiple-choice questions. Here
are the correct answers:

|   |   |   |  |
| ----- | ----- | ----- |-----|
| 1. A | 6. B | 11. A | 16. C |
| 2. A | 7. B | 12. A | 17. C |
| 3. A | 8. B | 13. A | 18. C |
| 4. A | 9. B | 14. A | 19. C |
| 5. A | 10. B| 15. A | 20. C |

Your program should store these correct answers in a list. The program should read the
student’s answers for each of the 20 questions from a text file and store the answers in
another list. (Create your own text file to test the application.) After the student’s answers
have been read from the file, the program should display a message indicating whether the
student passed or failed the exam. (A student must correctly answer 15 of the 20 questions
to pass the exam.) It should then display the total number of correctly answered questions,
the total number of incorrectly answered questions, and a list showing the question numbers
of the incorrectly answered questions.

## Name Search
You are provided two dataset files:

* **GirlNames.txt**—This file contains a list of the 200 most popular names given to girls born in the United States from the year 2000 through 2009.
* **BoyNames.txt**—This file contains a list of the 200 most popular names given to boys born in the United States from the year 2000 through 2009. 

Write a program that reads the contents of the two files into two separate lists. The user
should be able to enter a boy’s name, a girl’s name, or both, and the application will display
messages indicating whether the names were among the most popular.

## Population Data

You are provided a dataset file named **USPopulation.txt**. The file contains the midyear
population of the United States, in thousands, during the years 1950 through 1990. The
first line in the file contains the population for 1950, the second line contains the population
for 1951, and so forth.

Write a program that reads the file’s contents into a list. The program should display the
following data:

* The average annual change in population during the time period
* The year with the greatest increase in population during the time period
* The year with the smallest increase in population during the time period

## World Series Champions

You are given a dataset file named **WorldSeriesWinners.txt**. This file contains a chronological
list of the World Series winning teams from 1903 through 2009. (The first line in
the file is the name of the team that won in 1903, and the last line is the name of the team
that won in 2009. Note that the World Series was not played in 1904 or 1994.)
Write a program that lets the user enter the name of a team and then displays the number
of times that team has won the World Series in the time period from 1903 through 2009.

## Lo Shu Magic Square

The Lo Shu Magic Square is a grid with 3 rows and 3 columns. The
Lo Shu Magic Square has the following properties:

* The grid contains the numbers 1 through 9 exactly.
* The sum of each row, each column, and each diagonal all add up to the same number.

In a program you can simulate a magic square using a two-dimensional list. Write a function
that accepts a two-dimensional list as an argument and determines whether the list is
a Lo Shu Magic Square. Test the function in a program.

![Fig:1 The Lo Shu Magic Square](Table1.png)
![Fig:2 The sum of the rows, columns, and diagonals](Table2.png)